# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.aws-sam/
.aws-sam/build/*
.aws-sam/build/MyNestJSLambdaFunction
.aws-sam/
packaged.yaml
samconfig.toml
*.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


NotesAdminFb.json
NotesClientFb.json
src/auth/constants.ts

.dockerignore
Dockerfile
.gcloudignore
